<h1>Welcome to OrderSystem</h1>
<p><img src="img/pitzi.jpg" width="250"/></p>
<hr class="divisory">
<ul>
<li><a href="/home/clients">Clients</a></li>
<li><a href="/home/orders">Orders</a></li>
<li><a href="/setting_apis">Settings</a></li>
</ul>
<hr class="divisory">
